.category{
    scroll-snap-type: x mandatory;
    margin-top: 70px;
}

.category ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
}

.category li{
    cursor: pointer;
    font-weight: 500;
    padding: 8px 12px;
    scroll-snap-align: start;
    white-space: nowrap;   
    flex-shrink: 0;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-bottom 0.2;
}

.category li:hover{
    color: green;
    border-bottom: 2px solid green;
} 

.category li.active {
  color: green;
  border-bottom: 2px solid green;
}

@media (max-width:768px) {
    .category{
        overflow-x: auto;
        justify-content: flex-start;
    }
    .category ul{
        justify-content: flex-start;
    }
    .category li{
        font-weight: 300;
        font-size: 14px;
        gap: 10px;
    }
}

@media (max-width:480px) {
    .category{
        padding: 6px 10px;
        justify-content: flex-start;
    }

    .category ul{
        gap: 5px;
        justify-content: flex-start;
    }

    .category li{
        font-weight: 200;
        font-size: 13px;
    }
}