.navbar{
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 26px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
  height: 40px;
  width: auto;
}

.logo-text{
    color: green;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.search-btn {
  padding: 8px 10px;
  border: none;
  border-radius: 50%;
  background-color: green;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 20px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: green;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

.login-btn {
  background: green;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.user-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px;
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  color: green;
  font-size: 14px;
}

@media (max-width:768px) {
  .search-bar{
    display: none;
  } 

  .logo img{
    width: 50px;
    height: auto;
  }

  .logo-text{
    font-size: 20px;
  }
}

@media (max-width:480px) {
  .navbar{
    padding: 0 10px;
  }
  .logo-text{
    font-size: 16px;
  }
  .cart-text{
    display: none;
  }
  .login span{
    display: none;
  }
}