.banner{
    width: 100%;
}

.banner-inner{
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 16px;        
  overflow: hidden;      
  position: relative;
}

.banner-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    display: block;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 700px;
}

.banner-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.shop-btn {
  background: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.shop-btn:hover {
  background: darkgreen;
}

@media (max-width:992px){
  .banner-img { height: 300px; }
  .banner-inner { padding: 0 14px; }
}

@media (max-width:600px) {
  .banner-img { height: 200px; }
  .banner-inner { padding: 0 12px; }
  .banner-content {
    left: 50%;
    transform: translate(-70%, -50%);
  }
  .banner-content h2 { font-size: 1.2rem; }
  .banner-content p {
    font-size: 0.9rem;
  }
  .banner-content button {
    font-size: 0.8rem;
    padding: 6px 12px;
  } 
}