.banner{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
}

.banner-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 400px;
}

.banner-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.shop-btn {
  background: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.shop-btn:hover {
  background: darkgreen;
}